<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # URL's amigables
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule . /index.html [L]
  # HTTP -> HTTPS
  RewriteCond %{HTTPS} !=on
  RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>